<template>

    <div class="container-fluid ">


        <div class="row">

            <div class="col-12 white nopadding" style="margin-bottom: 10px;">
                <Header @class="onMenuClicked" />
            </div>
        </div>
        <div class="row">
            <div class="col-2 nopadding" v-if="menu">
                <SideBar />
            </div>
            <div :class="theme">
                <div class="row">
                    <div class="col-3">
                        <div class="dashbord-block">
                            <p class="title">CENTERS<i class="fa fa-filter align-right"></i>
                                <p class="text">97</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="dashbord-block">
                            <p class="title">VEHICLES<i class="fa fa-filter align-right"></i></p>
                            <p class="text">97</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="dashbord-block">
                            <p class="title">DRIVERS<i class="fa fa-filter align-right"></i></p>
                            <p class="text">97</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="dashbord-block">
                            <p class="title">SUPERVISOR<i class="fa fa-filter align-right"></i></p>
                            <p class="text">97</p>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:20px">
                    <div class="col-9">
                        <div class="row map-block">
                            <div class="col-3 nopadding" style="padding-left:15px">
                                <div class="dashboard-map-block white">
                                    <p class="text">
                                        <font-awesome-icon icon="bus" size="sm" :style="{ color: '#f39a6e' }" /> 1</p>
                                    <p class="title">Live Trips</p>
                                </div>
                            </div>
                            <div class="col-3 nopadding">
                                <div class="dashboard-map-block white">
                                    <p class="text">
                                        <font-awesome-icon icon="bus" size="sm" :style="{ color: '#f39a6e' }" /> 2</p>
                                    <p class="title">Completed Trips</p>
                                </div>
                            </div>
                            <div class="col-3 nopadding">
                                <div class="dashboard-map-block white">
                                    <p class="text">
                                        <font-awesome-icon icon="bus" size="sm" :style="{ color: '#f39a6e' }" /> 3</p>
                                    <p class="title">Delayed Trips</p>
                                </div>
                            </div>
                            <div class="col-3 nopadding" style="padding-right:15px">
                                <div class="dashboard-map-block white">
                                    <p class="text">
                                        <font-awesome-icon icon="broadcast-tower" size="sm" :style="{ color: '#f39a6e' }" /> 4</p>
                                    <p class="title">Broadcasting</p>
                                </div>
                            </div>
                            <div class="col-12 nopadding" style="padding-left:15px;height:300px;margin-top:10px">
                                <GoogleMapLoader :mapConfig="mapConfig" apiKey="AIzaSyBdMIiUeaIFMZZTK3rhRYgUH3X_5oRlSRw" style="height: 300px">

                                    <template slot-scope="{ google, map }">
                                        <GoogleMapMarker v-for="marker in markers" :key="marker.id" :marker="marker" :google="google" :map="map" />

                                    </template>
                                </GoogleMapLoader>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="members-block">
                                    <p class="title">MEMBERS <span class="align-right"><b>3342</b></span></p>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width: 25%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <ul class="members-block-count">
                                        <li><i class="fa fa-circle yellow" aria-hidden="true"></i>MALES 2</li>
                                        <li><i class="fa fa-circle green" aria-hidden="true"></i>FEMALES 5</li>
                                        <li><i class="fa fa-circle blue" aria-hidden="true"></i>UNKNOWN 0</li>
                                    </ul>

                                </div>
                                <div class="business-block" style="margin-top:10px">
                                    <p class="title">BUSINESS EXPENDITURE <span class="align-right"><b>0</b></span></p>

                                    <ul class="business-block-count">
                                        <li><i class="fa fa-circle yellow" aria-hidden="true"></i>TRAVEL COST <span class="align-right">0 AED</span></li>
                                        <li><i class="fa fa-circle green" aria-hidden="true"></i>COST OF DEPRECIATION <span class="align-right">0 AED</span></li>
                                        <li><i class="fa fa-circle blue" aria-hidden="true"></i>IDLE COST <span class="align-right">0 AED</span></li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <Footer />
            </div>

        </div>

    </div>
</template>

<script>
    import {
        mapState,
        mapActions
    } from 'vuex'
    import Header from '../shared/Header'
    import SideBar from '../shared/SideBar'
    import Footer from '../shared/Footer'
    import GoogleMapLoader from "../shared/GoogleMapLoader";
    import GoogleMapMarker from "../shared/GoogleMapMarker";
    import {
        mapSettings
    } from "../constants/mapSettings";


    export default {
        computed: {
            ...mapState({
                account: state => state.account,
                users: state => state.users.all
            }),
            mapConfig() {
                return {
                    ...mapSettings,
                    center: this.mapCenter
                };
            },

            mapCenter() {
                return this.markers[1].position;
            }
        },
        data() {
            return {
                markers: [{
                        id: "a",
                        position: {
                            lat: 25.259518099999998,
                            lng: 55.3008442
                        }
                    },
                    {
                        id: "b",
                        position: {
                            lat: 25.228465,
                            lng: 55.314577
                        }
                    },
                    {
                        id: "c",
                        position: {
                            lat: 25.220389,
                            lng: 55.280931
                        }
                    }
                ],
                theme: 'col-10',
                menu: true

            };
        },
        created() {
            this.getAllUsers();
        },
        components: {
            Header,
            SideBar,
            Footer,
            GoogleMapLoader,
            GoogleMapMarker,
        },
        methods: {
            ...mapActions('users', {
                getAllUsers: 'getAll',
                deleteUser: 'delete'
            }),
            onMenuClicked(value) {
                this.theme = value.class;
                this.menu = value.menu;

            },

        }
    };
</script>