<template>
    <div class="container-fluid nopadding">
        <div class="row" style="padding:30%; padding-top:10%; padding-bottom:10%">
            
           
            <div class="col-12">
                <h2>Login</h2>
                <form @submit.prevent="handleSubmit">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" v-model="username" name="username" class="form-control" :class="{ 'is-invalid': submitted && !username }" />
                        <div v-show="submitted && !username" class="invalid-feedback">Username is required</div>
                    </div>
                    <div class="form-group">
                        <label htmlFor="password">Password</label>
                        <input type="password" v-model="password" name="password" class="form-control" :class="{ 'is-invalid': submitted && !password }" />
                        <div v-show="submitted && !password" class="invalid-feedback">Password is required</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" :disabled="status.loggingIn" style="padding: 0% 45%;">Login</button>
                        <p style="padding: 0% 40%;"><a href="#" data-toggle="modal" data-target="#exampleModal" >Forgot Password?</a></p>

                    </div>
                </form>
                <ForgotPassword />
 
            </div>

        </div>
        

    </div>



</template>

<script>
    import {
        mapState,
        mapActions
    } from 'vuex'
    import ForgotPassword from './ForgotPassword'

    export default {
        components: {
            ForgotPassword
        },
        data() {
            return {
                username: '',
                password: '',
                submitted: false
            }
        },
        computed: {
            ...mapState('account', ['status'])
        },
        created() {
            // reset login status
            this.logout();
        },
        methods: {
            ...mapActions('account', ['login', 'logout']),
            handleSubmit(e) {
                this.submitted = true;
                const {
                    username,
                    password
                } = this;
                if (username && password) {
                    this.login({
                        username,
                        password
                    })
                }
            }
        }
    };
</script>