<template>
    <div class="row" style="margin-top:10px">
        <div class="col-6">
            <div class="footer-block white">
                <p class="title">NOTIFICATIONS<span class="align-right"><b>566</b></span></p>
                <div class="row" style="padding: 10px;">
                    <div class="col-4" style="border-bottom:1px dotted;">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="id-card" size="2x" :style="{ color: 'orange' }" />
                        </span>
                        <span style="display:inline-block;font-size:7px">

                            <p><b>3</b><br />DRIVING LICENSE EXPIRED</p>
                        </span>
                    </div>
                    <div class="col-4" style="border-bottom:1px dotted">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="id-card" size="2x" :style="{ color: 'green' }" />
                        </span>
                        <span style="display:inline-block;font-size:7px">

                            <p><b>3</b><br />SMOKE</p>
                        </span>
                    </div>
                    <div class="col-4" style="border-bottom:1px dotted">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="bus-alt" size="2x" :style="{ color: '#389dea' }" />
                        </span>
                        <span style="display:inline-block;font-size:7px">

                            <p><b>3</b><br />VEHICLE REGISTRATION EXPIRED</p>
                        </span>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col-4" style="border-bottom:1px dotted">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="route" size="2x" :style="{ color: '#a8dce2' }" />
                        </span>
                        <span style="display:inline-block;font-size:7px">

                            <p><b>3</b><br />TRIP DELAYED</p>
                        </span>
                    </div>
                    <div class="col-4" style="border-bottom:1px dotted">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="door-open" size="2x" :style="{ color: 'red' }" />
                        </span>
                        <span style="display:inline-block;font-size:7px">

                            <p><b>3</b><br />PASSENGERS DOOR OPEN</p>
                        </span>
                    </div>
                    <div class="col-4" style="border-bottom:1px dotted">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="user" size="2x" :style="{ color: '#f39a6e' }" />
                        </span>
                        <span style="display:inline-block;font-size:7px">

                            <p><b>3</b><br />EMIRATES ID EXPIRED</p>
                        </span>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col-4" style="border-bottom:1px dotted">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="door-open" size="2x" :style="{ color: '#1d619f' }" />
                        </span>
                        <span style="display:inline-block;font-size:7px">

                            <p><b>3</b><br />DRIVER DOOR OPENED</p>
                        </span>
                    </div>
                    <div class="col-4" style="border-bottom:1px dotted">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="route" size="2x" :style="{ color: '#bcaafa' }" />
                        </span>
                        <span style="display:inline-block;font-size:6.5px">

                            <p><b>3</b><br />UNWARRANTED ABSENCE FROM TRIP</p>
                        </span>
                    </div>
                    <div class="col-4" style="border-bottom:1px dotted">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="bus" size="2x" :style="{ color: '#f5efe6' }" />
                        </span>
                        <span style="display:inline-block;font-size:7px">

                            <p><b>3</b><br />MOTION DETECTED</p>
                        </span>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <span style="display:inline-block">
                            <font-awesome-icon icon="power-off" size="2x" :style="{ color: '#f39a6e' }" />
                        </span>
                        <span style="display:inline-block;font-size:7px">

                            <p><b>3</b><br />VEHICLE STARTED</p>
                        </span>
                    </div>
                    <div class="col-4">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="footer-block white">
                <p class="title">INCIDENTS<span class="align-right"></span></p>
                <span style="display:inline-block; padding:83px;padding-left:50%">
                    <i class="fa fa-hdd-o" aria-hidden="true" style="font-size:58px"></i>
                </span>
            </div>
        </div>


    </div>
</template>