<template>
    <nav class="navbar navbar-expand-lg navbar-light white;">
        <button class="openbtn" @click="toggleShow">&#9776;</button> <a class="navbar-brand" href="#">YOUTH HQ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">



            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-link">
                    <span class="header-icon ">
                        <font-awesome-icon icon="comment-dots" size="1x" />
                    </span>
                    <span class="header-icon">
                        <font-awesome-icon icon="exclamation-triangle" size="1x" />
                    </span>
                    <span class="header-icon fa-stack fa-1x has-badge" data-count="8">
                        <font-awesome-icon icon="bus" size="1x" />
                    </span>
                    <span class="header-icon">
                        <font-awesome-icon icon="plus" size="1x" />
                        Add
                    </span>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{account.user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <router-link to="/login">Logout</router-link>

                    </div>
                </li>

            </ul>

        </div>

    </nav>
</template>

<script>
    import {
        mapState,
        mapActions
    } from 'vuex'

    export default {
        data: function() {
            return {
                showMenu: false
            }
        },
        props: {
            onClick: 'function',
        },
        computed: {
            ...mapState({
                account: state => state.account,
                users: state => state.users.all
            }),
        },
        created() {
            this.getAllUsers();
        },
        methods: {
            ...mapActions('users', {
                getAllUsers: 'getAll',
                deleteUser: 'delete'
            }),
            toggleShow: function() {


                if (this.showMenu) {
                    this.$emit('class', {
                        "class": "col-10",
                        "menu": true
                    })
                } else {
                    this.$emit('class', {
                        "class": "col-12",
                        "menu": false
                    })
                }
                this.showMenu = !this.showMenu;
            }
        }
    };
</script>