<template>
    <nav class="d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column sidebar-ul">
                <li class="nav-item heading">
                    <a class="nav-link" href="#">
            Dashboard
            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
              Live
            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
              Center
            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
              Members
            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
              Guardians
            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @click="toggleShow">
              Transportation
              <i class="fa fa-caret-down"></i>
            </a>

                </li>
                <li class="nav-item" v-if="showMenu">
                    <ul class="submenu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">

                  Bus
                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">

                  Car
                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">

                  Driver
                </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</template>

<script>
    import {
        mapState, mapActions
    }
    from 'vuex'

    export default {
        data: function() {
            return {
                showMenu: false
            }
        },
        props: {
            onClick: 'function',
        },
        methods: {
            toggleShow: function() {

                this.showMenu = !this.showMenu;
            }
        }
    };
</script>