 body {
     background: #f8f9fa;
     font-size: 10px;
}
 .openbtn {
     font-size: 20px;
     cursor: pointer;
     color: #111;
     padding: 10px 15px;
     border: none;
}
 .sidebar-ul{
     background: #f8f9f 
}
 .sidebar-ul li{
     background: white;
     margin-bottom: 3px;
}
 .heading{
     background: rgb(245, 202, 70) !important;
}
 .submenu{
     list-style: none;
     background: gray;
     padding:0px;
}
 .submenu li{
     background: gray;
     border-bottom: 1px dotted black;
     padding-left: 20px;
}
 a {
     cursor: pointer;
}
 .nav-link {
     color: black !important;
}
 .fa-caret-down {
     float: right;
     padding-right: 8px;
}
 .dashbord-block {
     background: white;
     padding: 10px;
     height: 70px;
}
 .dashbord-block .title {
     border-bottom: 1px dotted;
}
 .dashbord-block .text {
     text-align: center;
     font-weight: bold 
}
 .dashboard-map-block .title {
     margin: 0px;
     text-align: center;
}
 .dashboard-map-block .text {
     text-align: center;
     margin: 0px;
     font-weight: bold;
     font-size:19px;
}
 .align-right {
     float: right 
}
 .nopadding {
     padding: 0px;
}
 .white {
     background: white 
}
 .dashboard-map-block {
     border: 1px dotted;
     padding: 3px;
}
 .map-block {
     background: white;
     margin: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
}
 .yellow {
     color: rgb(245, 202, 70);
}
 .members-block-count {
     padding: 0px;
}
 .members-block-count li {
     float: left;
     display: block;
     padding-left: 5px 
}
 .green {
     color: green;
}
 .blue {
     color: blue;
}
 .members-block {
     background: white;
     padding: 10px;
     height: 100px;
}
 .members-block .title {
     border-bottom: 1px dotted;
}
 .members-block .text {
     text-align: center;
     font-weight: bold 
}
 .footer-block {
     background: white;
     padding: 10px;
}
 .footer-block .title {
     border-bottom: 1px dotted;
}
 .footer-block .text {
     text-align: center;
     font-weight: bold 
}
 .business-block {
     background: white;
     padding: 10px;
     height: 100px;
}
 .business-block .title {
     border-bottom: 1px dotted;
}
 .business-block .text {
     text-align: center;
     font-weight: bold 
}
 .business-block-count {
     padding: 0px;
}
 .business-block-count li {
     display: block;
     padding-left: 5px 
}
 .business-block-count i {
     margin-right: 4px;
}
 .members-block-count i {
     margin-right: 4px;
}
 .dropdown-menu {
     font-size: 12px;
     min-width: 90px;
}
 .header-icon{
     margin-right: 5px;
     margin-left: 5px;
}
 .fa-stack[data-count]:after{
     position: absolute;
     right: 22%;
     top: 6%;
     content: attr(data-count);
     font-size: 30%;
     padding: 1em;
     border-radius: 999px;
     line-height: 0.75em;
     color: white;
     background: rgba(255,0,0,.85);
     text-align: center;
     min-width: 2em;
     font-weight: bold;
}

 
